body{    
    font-size: 14px; 
    overflow-x: hidden;   
    background-color: rgb(254, 250, 245);
}

img{
    overflow: auto;
    width: min-content;
}

dd a{
    color: white;
}

dd a:hover{
    color:rgb(255, 224, 131);
}

dd a:active{
    color:#d3967e
}



  